
.img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    
}

.text{
    text-align: center;
}

.div{
    background-color: brown;
}

.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
