
.img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    
}

.text{
    text-align: center;
}



.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    display: table;
    margin: 0 auto;
    align-items: center;
}


